<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shangcheng.home_module">

    <application>
        <activity
            android:name=".ui.activity.ProductDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.productDetail" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
